main {
    height: 100%;
    width: 100%;
}

.open_flex {
    display: flex;
}

.Product_list {
    padding: 10px;
    justify-content: space-between;
}

.Product_list>li>a {
    height: 29.9px;
    border-radius: 20px;
    transition: background-color 0.6s, color 0.4s;
    padding: 4px 40px;
}

.Product_list>li>a:hover {
    background-color: #800080;
    color: #fff;
}

.Carousel {
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.Carousel>img {
    height: 500px;
    left: 0;
}

.Carousel_box {
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    margin: 5px;
    padding: 5px;
    height: 300px;
    width: 230px;
}

.item_imgs {
    width: 190px;
    height: 220px;
}

.item_money {
    justify-content: space-between;
    margin: 10px 0;
    width: 180px;
}

.specific_price {
    color: #ff4500;
    font-weight: 800;
}

.item_title {
    font-size: 16px;
}

.all_products {
    justify-content: center;
    flex-wrap: wrap;
}
    /* background-color: red; */
    /* height: 100%; */
/*
body{
    /* overflow: hidden; */
    
/* .Hot_item{
    background-color: #ab7fd1;
    color: #fff;
    padding: 2px 6px;
} */
.setScrollHeight{
    height: 1px;
    width: 1px;
    }