<link rel="stylesheet" href="../css/Categories.css">
<link rel="stylesheet" href="../css/common.css">
<main>
    <div class="container">
        <!-- <div><h2 class="Category_title">手冲咖啡</h2></div>
            <ul class="open_flexall_products">
                <li class="item">
                    <a href="" value="">
                        <img class="item_imgs" src="" alt="">
                        <h3 class="item_title">${data[x].title}</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">59元</span>
                            <div>免费</div>
                        </div>
                    </a>
                </li>
            </ul> -->

    </div>
    <ul class="fixed">
        
    </ul>
</main>
<script src="../jquery-3.4.0.js"></script>
<script src="../js/Categories.js"></script>