<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/common.css">
<main>
    <div class="container">
        <div class="Carousel_box">
            <div class="Carousel open_flex">
                <img src="../pic/lunbo/a.jpg" alt="">
                <img src="../pic/lunbo/b.jpg" alt="">
                <img src="../pic/lunbo/c.jpg" alt="">
                <img src="../pic/lunbo/d.jpg" alt="">
                <img src="../pic/lunbo/e.jpg" alt="">
                <img src="../pic/lunbo/a.jpg" alt="">
            </div>
        </div>
        <div class="all_products_box">
            <!-- <ul class="open_flex all_products"></ul> -->
            
        </div>
        <div class="setScrollHeight"></div>
    </div>
</main>
<script src="../jquery-3.4.0.js"></script>
<script src="../js/home.js"></script>