<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/common.css">
<main>
    <div class="container">
        <ul class="Product_list open_flex">
            <li><a href="">咖啡</a></li>
            <li><a href="">饮食</a></li>
            <li><a href="">正餐</a></li>
            <li><a href="">男装</a></li>
            <li><a href="">女装</a></li>
            <li><a href="">眼镜</a></li>
            <li><a href="">鞋靴</a></li>
        </ul>
        <div class="Carousel">
            <img src="" alt="">
        </div>
        <div>
            <ul class="open_flex">
                <li class="item">
                    <a href="">
                        <img class="item_imgs" src="../pic/clloce.jpg" alt="">
                        <h3 class="item_title">手冲咖啡6杯装(定制款)</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">$59</span>
                            <div class="Hot_item">爆品</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img class="item_imgs" src="../pic/clloce.jpg" alt="">
                        <h3 class="item_title">手冲咖啡6杯装(定制款)</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">$59</span>
                            <div class="Hot_item">爆品</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img class="item_imgs" src="../pic/clloce.jpg" alt="">
                        <h3 class="item_title">手冲咖啡6杯装(定制款)</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">$59</span>
                            <div class="Hot_item">爆品</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img class="item_imgs" src="../pic/clloce.jpg" alt="">
                        <h3 class="item_title">手冲咖啡6杯装(定制款)</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">$59</span>
                            <div class="Hot_item">爆品</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <img class="item_imgs" src="../pic/clloce.jpg" alt="">
                        <h3 class="item_title">手冲咖啡6杯装(定制款)</h3>
                        <div class="item_money open_flex">
                            <span class="specific_price">$59</span>
                            <div class="Hot_item">爆品</div>
                        </div>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</main>