<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/product_details.css">
    <link rel="stylesheet" href="../pic/font_monp1urys9l/iconfont.css">
</head>

<body>
    <main class="Centered">
        <button class="btn_return open_flex">
            <span class="iconfont icon-prev"></span>
            <span>返回</span></button>
        <div class="open_flex Product">
            <div class="commodity_pic">
                <img src="../pic/手冲咖啡.jpg" alt="">
                <div class="mark"></div>
                <div class="big_commodity_pic">
                    <img src="../pic/手冲咖啡.jpg" alt="">
                </div>
            </div>
            <div class="Product_Overview">
                <h2>手冲咖啡6杯装(定制款)</h2>
                <div class="Product_desciption">星巴克咖啡产地制造商直供</div>
                <div class="Product_money">￥59</div>
                <div class="star_list open_flex">
                    <div>
                        <img src="../pic/proouct_details/满星.png" alt="">
                        <img src="../pic/proouct_details/满星.png" alt="">
                        <img src="../pic/proouct_details/满星.png" alt="">
                        <img src="../pic/proouct_details/半星.png" alt="">
                        <img src="../pic/proouct_details/没星.png" alt="">
                    </div>
                    <span class="product_review">3.7</span>
                </div>
                <button class="Add_Product">添加到购物车</button>
            </div>
        </div>
        <div class="Product_Thumbnail">
            <img src="../pic/手冲咖啡.jpg" alt="">
        </div>

        <div class="Products_Featured">
            <h4>相似商品推荐</h4>
        </div>
    </main>
</body>

</html>
<script src="../js/product_details.js"></script>